/* Button.css */
.custom-button {
  /* 基本样式 */
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(45deg, #39c6ff, #00a2ff);
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 162, 255, 0.3);
  
  /* 添加半透明效果 */
  opacity: 0.7;
  
  /* 定位在页面正中央 */
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button:hover {
  background: linear-gradient(45deg, #00a2ff, #0080cc);
  transform: translate(-50%, -50%) translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 162, 255, 0.4);
  /* 悬停时恢复完全不透明 */
  opacity: 1;
}

.custom-button:active {
  transform: translate(-50%, -50%) translateY(0);
  box-shadow: 0 2px 5px rgba(0, 162, 255, 0.4);
}

/* 可选择其他主题颜色 */
.custom-button.secondary {
  background: linear-gradient(45deg, #f087b3, #e4406f);
  box-shadow: 0 4px 10px rgba(228, 64, 111, 0.3);
}

.custom-button.secondary:hover {
  background: linear-gradient(45deg, #e4406f, #c62f5b);
  box-shadow: 0 6px 15px rgba(228, 64, 111, 0.4);
}